* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans";
    background-color: rgb(251, 251, 251);
}

.brands {
    margin-top: 60px;
    margin-left: 30px;
    font-weight: 400;
    color: rgb(78, 78, 78);
    letter-spacing: 4px;
}

.component_data {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* QUERIES */

@media (max-width: 1450px) {
    .component_data {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .component_data {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .component_data {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 770px) {
    .component_data {
        grid-template-columns: 1fr;
    }
}